---
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const events = await getCollection("events");

  return events.map((event) => ({
    params: {
      slug: event.slug,
    },
    props: { id: event.slug },
  }));
}

interface Props {
  id: string;
}

const eventEntry = await getEntry({ collection: "events", id: Astro.props.id });
const { Content } = await eventEntry.render();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{eventEntry.data.title}</title>
  </head>
  <body>
    <Content />
  </body>
</html>
