---
import { getCollection, type RenderResult } from "astro:content";

import "reveal.js/dist/reveal.css";
import "reveal.js/dist/theme/black.css";

export async function getStaticPaths() {
  const slideSets = await getCollection("slideSets");

  return slideSets.map((slideSet) => ({
    params: { slug: slideSet.id },
    props: {
      id: slideSet.id,
      title: slideSet.data.title,
      description: slideSet.data.description,
    },
  }));
}

interface Props {
  id: string;
  title: string;
  description: string;
}

const { id: slideSet, title, description } = Astro.props;

const slides = await getCollection(
  "slides",
  (slide) => slide.data.slideSet.id === slideSet
);

const contentMap = Object.fromEntries(
  await Promise.all(
    slides.map(
      async (slide): Promise<[string, RenderResult]> => [
        slide.slug,
        await slide.render(),
      ]
    )
  )
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        {
          slides.map((slide) => {
            const { Content } = contentMap[slide.slug];

            return (
              <section>
                <Content />
              </section>
            );
          })
        }
      </div>
    </div>
  </body>
</html>

<script>
  import Reveal from "reveal.js";

  const saveState = () => {
    const state = Reveal.getState();
    window.location.hash = btoa(JSON.stringify(state));
  };

  const loadState = () => {
    try {
      const hash = window.location.hash;

      if (hash.startsWith("#")) {
        const state = JSON.parse(atob(hash.substring(1)));
        Reveal.setState(state);
      }
    } catch (e) {
      console.error("error in loadState:", e);
    }
  };

  Reveal.initialize({ transition: "none" }).then(() => {
    loadState();
  });

  Reveal.on("slidechanged", saveState);
  Reveal.on("overviewshown", saveState);
  Reveal.on("overviewhidden", saveState);
</script>
